<mat-toolbar class="header bg-core-blue" layout-align="start center">
  <div class="slide-icons-wrapper">
    <span><i class="fa fa-bars" aria-hidden="false"></i></span>
    <span class="slide-icons hamburger-icon"></span>
    <span class="slide-icons search-icon">
      <i class="fa fa-search" aria-hidden="false"></i>
    </span>
    <span class="slide-icons hidden-lg-up flight-icon">
      <i class="fa fa-plane" aria-hidden="false"></i>
    </span>
  </div>
  <div class="logo-wrapper">
    <span class="logo"><a href="/"><img src="../assets/jb-blue-eye_logo.png"></a></span>
  </div>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" opened="false" (close)="hideBothViews($event)">
    
    <ys-menu-navigation></ys-menu-navigation>
    <!-- <be-menu-nav *ngIf="isMenuVisible === true"></be-menu-nav>
    <be-search-form (isCollapsedEvent)="isCollapsedEvent($event)" *ngIf="isSearchVisible === true"></be-search-form> -->
  </mat-sidenav>
  <!-- Activate method allows us to hook into flight-detail component should be refactored to redux at some point -->
  <!-- <router-outlet (activate)="onActivate($event)"></router-outlet>
  <router-outlet></<router-outlet> -->

</mat-sidenav-container>
