<div class="searchContent">
  <div class="col-sm-10 jb-Title-padding">
    <ys-icon height="1.3em" width="1.3em" class="magnifying-glass-icon" type="magnifying-glass"></ys-icon>
    <span class="search-title ">Let's Search</span>
  </div>

  <!-- Need the FormsModule in order to use the [(ngModel)] alt: ng-model attribute
  g -->
  <mat-form-field>
   <mat-select class="md-select-trigger" placeholder="Search Option" [(ngModel)]="default">
        <!-- <mat-option class="md-select-trigger" *ngFor="let options of searchby" [value]="options.code">{{ options.name }}</md-option> -->
          <mat-option class="md-select-trigger"
                       *ngFor="let options of searchby" 
                       [value]="options.code">
                       {{ options.name }}
          </mat-option>
        </mat-select>
  </mat-form-field>
 
  <br>

  <div class="search-form" >
     <!-- City Pair Form Needed -->
  </div>

  <div class="search-form" >
   <!-- Tail Number Form Needed -->
  </div>

  <div class="search-form" >
   <!-- Flight Number Form Needed -->
  </div>

  <div class="search-form" >
   <!-- Code Share Form Needed -->
  </div>

</div>
